<div class="about-container">
    <h2>About toMeMail</h2>
    <p>
        toMeMail is an application that lets you send messages to yourself or loved ones in the future.
        This section provides technical details and useful links related to the project.
    </p>
    <ul>
        <li><a href="https://github.com/mvomiero/toMeMail_backend" target="_blank">Backend Repository</a></li>
        <li><a href="https://github.com/mvomiero/toMeMail_frontend" target="_blank">Frontend Repository</a></li>
        <li><a [href]="apiDocsUrl" target="_blank">OpenAPI Documentation</a></li>
    </ul>
</div>